.freeze {
  position: fixed;
  width: 100vw;
}

#error-feedback {
  display: none;
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  background-color: pink;
  z-index: 1101;
}

#error-feedback-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

#error-feedback-flex p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

li a.active,
.dropdown-item.active,
.dropdown-item:active {
  font-weight: bold;
}

.dropdown-menu {
  height: 298px;
  overflow-y: scroll;
}

.dropdown-item.active.white {
  color: white;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  text-align: right;
}

#new-topic-name {
  display: none;
}

.row.page-title {
  margin-top: 2rem;
}

form label {
  padding-left: 12px;
}

form .form-groups {
  display: block;
}

.btn:not(:disabled):not(.disabled) {
  width: 100%;
}

section.table-section {
  margin-top: 2rem;
}

table.table tbody:hover {
  cursor: url('pin.png') 0 8, pointer;
}

table.table tr:hover:not(.pin) {
  background-color: #e9f0fc;
}

table.table tr.pin {
  background-color: #ebfce9;
}

table.table tr.pin:hover {
  background-color: #d4f5d1;
}

.table td,
.table th {
  vertical-align: middle;
}

.btn-sm {
  width: 75px;
}

footer p {
  margin: 0;
}

.modal {
  background-color: rgba(0, 0, 0, 0.33);
}

.modal-dialog {
  margin-top: 4rem;
}

#mask {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  cursor: wait;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1100;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
    text-align: left;
  }
}

@media (min-width: 576px) {
  form .form-groups {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 576px) {
  .form-group.flex-grow-1.keywords {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
